:root {
	--color-dark: #3E3F58;
	--color-secondary-dark: #3E4056;
	--color-gray: #B2B3BB;
	--color-secondary-red: #F05D63;
	--color-red: #ED5267;
	--color-main-background: #FFFFFF;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;