.stats {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 32px;
	padding-bottom: 24px;

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.stats__item-quantity {
	font-size: 18px;
	font-weight: 700;
}