.user_detailes {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  
  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;;
  }
}

.user_page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}
.user__info {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $bp-tablet) {
    align-items: flex-start;
    margin-right: 40px;
  }
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $bp-tablet) {
  display: flex;
  flex-direction: row;
  }
  
}

.avatar {
  width: 120px;
  border-radius: 50%;
}

.user__main-info {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $bp-tablet) {
    align-items: flex-start;
    margin-left: 24px;
  }

}

.user__name {
  margin-top: 8px;
}

.edit__user-profile {
  display: flex;
  align-items: center;
  color: var(--color-red);
  padding-top: 16px;
  font-size: 16px;
  font-weight: 400;
}

.edit__user-icon {
  margin-right: 8px;
  fill: var(--color-red);
}


.user__menu-open {
  display: none;

  @media screen and (min-width: $bp-tablet) {
    ackground-color: #fff;
  border: none;
  cursor: pointer;
  }

}
